/* https://css-tricks.com/snippets/css/using-font-face/#article-header-id-0 */

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf')  format('truetype');
       font-weight: bold;
       font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'PTSerifRegular';
  src: url('../fonts/PTSerifRegular/PTSerifRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PTSerifRegular/PTSerifRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PTSerifRegular/PTSerifRegular.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'PTSerifItalic';
  src: url('../fonts/PTSerifItalic/PTSerifItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PTSerifItalic/PTSerifItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PTSerifItalic/PTSerifItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: normal;
       font-style: normal;
}


