/* $main-color: #f39f18;
$headers-color: #2c3949; */

@keyframes bounce {
  0% { transform: translateX(15vw); }
  100% { transform: translateX(0); }
}

.anime {
  transition: all 200ms linear;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

a, a:hover, button, button:hover, .anime {
  transition:all 200ms linear;
  cursor: pointer;
}

li, a {
  list-style-type: none;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  width: auto\9;
}

body {
  font-family: 'Montserrat-Bold', sans-serif;
  background-color: #eaeaea;
  font-size: 1.166vmax;
  line-height: 1.416vmax;
}

.wrap {
  width: 81.66vw;
  margin: 0 auto;
  position: relative;
}

.dark {
  background-color: #2e2e30;
  color: #ffffff;
}

.gray {
  background-color: #838d8f;
  color: #daddde;
}

#top {
  width: 100%;
  height: 9.16vmax;/* расчет от большего в случае поворотоа зкрана*/
}

#top .wrap,
#menu .wrap {
  height: inherit;/*центровка по высоте*/
}

div.btn {
  border-radius: 0.33vw;
  padding: 0.66vw 1.33vw;
  font-size: 0.83vw;
  text-transform: uppercase;
  line-height: 1vw;
  cursor: pointer;
}

#sign {
  border: 1px solid #7e7e7e;
}

#sign svg {
  margin-right: 1.83vmax;
  width: 1.33vw;
  height: 1.33vw;
}

#sign:hover {
  background-color: #ededed;
  color: #2e2e30;
}

#sign:active {
  opacity: 0.6;
}

#location, 
#currency {
  font-family: 'PTSerifRegular';
  color: #aaa;
  font-size: 1.16vw;
  line-height: 1.41vw;
  margin-left: 5.25vmax;
}

#location span,
#currency span {
  font-family: 'Montserrat-Bold', sans-serif;
  color: #ffffff;
  font-size: 0.83vw;
  line-height: 1vw;
  margin-left: 1.5vw;
  cursor: pointer;
}

#logo a {
    display: block;
    font-size: 4.66vmax;
    line-height: 2.33vmax;
}

#currency {
  margin-left: 0;
  margin-right: 6.33vmax;
}

#cart {
  border: 1px solid #8ad592;
  color: #8ad592;
  font-size: 0.83vw;
  line-height: 1vw;
}

#cart svg {
  width: 1.25vmax;
  height: 1.16vmax;
  margin-right: 1.5vmax;
}

#cart:hover {
  background-color: #8ad592;
  color: #ffffff;
}

#cart:hover svg {
  fill: #ffffff;
}

#menu {
  background-color: #ffffff;
  width: 100%;
  height: 4.16vmax;
}

#main_nav,
#main_nav li,
#main_nav a {
  display: flex;
  flex-flow: row nowrap;
  height: inherit;
  align-items: center;
  justify-content: center;
}

#main_nav a {
  padding: 0 1.5vmax;
  color: #3c3d41;
  font-size: 1.08vmax;
  line-height: 2.75vmax;
  text-transform: uppercase;
}

#main_nav a:hover {
  background-color: #3c3d41;
  color: #ffffff;
}

#search_button {
  position: absolute;
  right: 0;
  top: calc(50% - 0.75vmax);
  cursor: pointer;
  svg {
    width: 1.5vmax;
    height: 1.5vmax;
  }
}