/* $main-color: #f39f18;
$headers-color: #2c3949; */

@keyframes bounce {
  0% { transform: translateX(15vw); }
  100% { transform: translateX(0); }
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

a, a:hover, button, button:hover, .anime {
  transition:all 200ms linear;
  cursor: pointer;
}

li, a {
  list-style-type: none;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  width: auto\9;
}

body {
  font-family: 'Montserrat-Bold', sans-serif;
  background-color: #eaeaea;
  font-size: 1.166vmax;
  line-height: 1.416vmax;
}